* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
}

.contenedor1 {
  background-color: rgb(90, 88, 88);
  width: 100%;
  margin: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor2 {
  background-color: rgb(90, 88, 88);
  width: 100%;
  margin: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor3 {
  background-color: rgb(90, 88, 88);
  width: 100%;
  margin: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor1 img {
  padding: 10px;
  margin-left: 1%;
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.contenedor2 img {
  padding: 10px;
  margin-left: 1%;
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.contenedor3 img {
  padding: 10px;
  margin-left: 1%;
  width: 250px;
  height: 200px;
  object-fit: cover;
}

.contenedor1 p {
  padding: 10px;
  color: beige;
  margin-left: 1%;
  margin-right: 1%;
  text-align: justify;
}

.contenedor2 p {
  padding: 10px;
  color: beige;
  margin-left: 1%;
  margin-right: 1%;
  text-align: justify;
}

.contenedor3 p {
  padding: 10px;
  color: beige;
  margin-left: 1%;
  margin-right: 1%;
  text-align: justify;
}
